body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  text-align: center;
}

.title span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  padding-right: 46px;
  color: #01353E;
  position: relative;
  padding-bottom: 12px;
}

.title span::after {
  content: '';
  position: absolute;
  background-image: url(../images/title__icon.svg);
  background-repeat: no-repeat;
  width: 44px;
  height: 52px;
  background-position: center center;
  background-size: cover;
  right: 0;
  bottom: 0;
}

.header {
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  margin-bottom: 190px;
}

.header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.header__top {
  position: relative;
}

.menu__btn {
  display: none;
  align-items: center;
  width: 40px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 55px;
  right: 10px;
}

.menu__btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn::after,
.menu__btn::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__btn::before {
  top: 0;
}

.logo {
  position: absolute;
  top: 35px;
  left: 10px;
}

ul.menu__list {
  display: flex;
  justify-content: center;
  padding-top: 52px;
}

.menu__list-item+.menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  display: inline-block;
  text-decoration: none;
  padding: 0 2px 6px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  transition: .3s;
  border-bottom: 1px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00B2A0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 87px);
}

.header__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  letter-spacing: 0.6px;
  color: #0D302C;
  margin-top: calc(23vh);
  ;
}

.header__subtitle {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  text-align: center;
}

.header__icon {
  margin-bottom: 8.5vh;
}

.about__title {
  margin-bottom: 84px;
}

.about {
  margin-bottom: 170px;
}

.about__inner {
  display: flex;
  flex-wrap: wrap;
}

.about__text {
  margin-bottom: 30px;
  margin-right: 100px;
  max-width: 480px;
}

.receive {
  background-color: #F8F8F8;
  padding-top: 200px;
}

.receive__title {
  margin-bottom: 90px;
}

.receive__items {
  display: flex;
  justify-content: space-between;
}

.receive__item {
  max-width: 350px;
  margin-bottom: 100px;
}

.receive__item+.receive__item {
  margin-left: 75px;
}

.receive__item-title {
  min-height: 58px;
  max-width: 250px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-left: 60px;
  margin: 0 auto;
  margin-bottom: 13px;
  position: relative;
  display: flex;
  align-items: center;
}

.receive__item-title::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.receive__item-title--sun::before {
  background-image: url(../images/sun-icon.svg);
}

.receive__item-title--airplane::before {
  background-image: url(../images/airplane-icon.svg);
}

.receive__item-title--surfing::before {
  background-image: url(../images/surfing-icon.svg);
}

.conquer {
  margin-bottom: 200px;
  background-image: url(../images/conguer-icon.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right top;
}

.receive__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 170px;
}

.receive__info-text {
  max-width: 600px;
  margin-bottom: 30px;
}

.receive__clients {
  width: 350px;
  margin-right: 255px;
  padding-top: 5px;
}

.receive__clients-item {
  padding-top: 5px;
  padding-right: 45px;
  position: relative;
  margin-bottom: 10px;
}

.receive__clients span {
  position: absolute;
  height: 15px;
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
  right: 0;
  top: 0;
}

.conquer__inner {
  margin-right: auto;
  max-width: 560px;
  padding: 200px 0 115px;
}

.conguer__title {
  margin-bottom: 87px;
}

.conguer__text {
  max-width: 507px;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 198px;
}

.gallery__title {
  margin-bottom: 200px;
}

.gallery__filter {
  display: flex;
  margin-bottom: 50px;
}

.gallery__btn {
  padding: 0;
  margin: 0 20px 0 0;
  font-weight: 400;
  font-size: 24px;
  color: #242121;
  background-color: transparent;
  border: none;
}

.gallery__btn.mixitup-control-active {
  color: #00B2A0;
}

.gallery__content {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  column-gap: 40px;
}

.gallery__item {
  margin-bottom: 40px;
  position: relative;
}

.gallery__item-link {
  display: block;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s;
  opacity: 0;
}

.gallery__item:hover .gallery__item-link {
  opacity: 1;
}

.gallery__wrapper {
  text-align: center;
}

.gallery__add {
  display: inline-block;
  padding: 23px 91px;
  text-decoration: none;
  border: 1px solid #C4C4C4;
  font-weight: 400;
  font-size: 24px;
  color: #242121;
  margin-bottom: 200px;
  transition: all .3s;
}

.gallery__add {
  display: inline-block;
  padding: 23px 91px;
  text-decoration: none;
  border: 1px solid #C4C4C4;
  font-weight: 400;
  font-size: 24px;
  color: #242121;
  margin: 0 auto;
  margin-bottom: 200px;
}

.gallery__add:hover {
  border: 1px solid #00B2A0;
  font-weight: 400;
  font-size: 24px;
  color: #00B2A0;
}

.blockquote {
  background-color: #F8F8F8;
  padding: 81px 0;
  margin-bottom: 200px;
}

.blockquote p {
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #242121;
  position: relative;
  padding: 0 160px 20px 160px;
}

.blockquote__author {
  position: absolute;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  bottom: 0;
  right: 10px;
}

.gallery .container {
  padding: 0;
}

.gallery__btn {
  padding-left: 10px;
}

.gallery__video {
  position: relative;
}

.gallery__video-img {
  margin-bottom: 200px;
}

.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery__numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
}

.gallery__numbers-item {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353E;
  text-align: center;
  margin-bottom: 5px;
}

.gallery__numbers-item span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #242121;
}

.blog__title {
  margin-bottom: 216px;
}

.blog__wrapper {
  background-image: url(../images/blog-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 198px;
  position: relative;
}

.blog__wrapper::before {
  content: '';
  position: absolute;
  background-color: rgba(36, 33, 33, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.blog__slider .blog__inner {
  display: flex;
  justify-content: flex-end;
}

.blog__link {
  margin-top: 314px;
  margin-bottom: 260px;
  margin-right: 0;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  max-width: 600px;
  text-decoration: none;
}

.blog__link span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
}

.slick-dots>li+li {
  margin-left: 15px;
}

.slick-dots li {
  margin-bottom: 75px;
}

.slick-active button {
  background: #00B2A0;
}

.team__title {
  margin-bottom: 200px;
}

.team__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 200px;
  column-gap: 105px;
}

.team__item-name {
  margin: 25px 0 5px;
  font-weight: 700;
  font-size: 18px;
  color: #242121;
}

.services {
  background-color: #F8F8F8;
  margin-bottom: 200px;
}

.services__title {
  padding-top: 200px;
  margin-bottom: 200px;
}

.sercices__inner {
  display: flex;
  justify-content: space-between;
}

.services__item+.services__item {
  margin-left: 50px;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 360px;
  text-align: center;
  margin-bottom: 200px;
  text-decoration: none;
  transition: all .3s;
}

.services__item-subtitle {
  padding: 45px 0 58px;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
}

ul.services__item-list {
  text-align: left;
  margin-bottom: 40px;
}

.services__item-list li {
  padding: 0 30px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #242121;
}

.services__item-price p {
  display: inline-block;
  font-size: 36px;
  line-height: 40px;
  color: #01353E;
  padding-right: 14px;
  position: relative;
  margin-bottom: 45px;
}

.services__item-price span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 22px;
}

.map {
  margin-bottom: 200px;
}

.map img {
  margin: 0 auto;
}

.connection__title {
  margin-bottom: 218px;
}

.connection__inner {
  display: flex;
  margin-bottom: 200px;
}

.contact {
  width: 580px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 580px;
}

.form input {
  border: none;
  border-bottom: 2px solid #DADADA;
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 30px;
  margin-bottom: 32px;
}

.form textarea {
  resize: none;
  margin-top: 20px;
  margin-bottom: 72px;
  min-height: 156px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  margin-right: 30px;
  border-bottom: 2px solid #DADADA;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #00B2A0;
}

.form textarea::placeholder {
  color: #00B2A0;
  max-width: 260px;
}

.form button {
  display: inline-block;
  padding: 24px 110px;
  margin-right: auto;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #242121;
  transition: all .3s;
}

.form button:hover {
  border: 1px solid #00B2A0;
  font-weight: 400;
  color: #00B2A0;
}

.contact {
  background-color: #F8F8F8;
  padding: 50px 52px 72px 52px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #242121;
}

.contact span {
  display: block;
}

.contact p {
  margin: 65px 0;
}

.phone {
  display: block;
  text-decoration: none;
  color: #242121;
}

.address span {
  display: block;
  font-style: normal;
}

.social {
  text-align: center;
  margin-bottom: 200px;
}

.social__link+.social__link {
  margin-left: 10px;
}

.social__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-decoration: none;
  color: #242121;
  transition: all .3s;
}

.social__link:hover {
  color: #00B2A0;
}

.footer {
  background: #00B2A0;
  margin: 0 auto;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 68px;
}

.footer__logo {
  margin: 0 auto;
}


/*******************
-------Media--------
*******************/

@media(max-width: 1440px) {
  .header__title {
    font-size: 150px;
    line-height: 180px;
    margin-top: 20vh;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .menu__list-link {
    font-size: 20px;
    line-height: 28px;
  }
  .header__icon {
    height: 50px;
  }
  .title,
  .header,
  .conquer,
  .about,
  .gallery__add,
  .blockquote,
  .gallery__video,
  .gallery__video-img,
  .gallery,
  .blog__wrapper,
  .team__inner,
  .services__item,
  .services,
  .map,
  .connection__inner,
  .social {
    margin-bottom: 100px;
  }
  .receive,
  .services__title {
    padding-top: 100px;
  }
  .conquer__inner {
    padding-top: 75px;
    padding-bottom: 0;
  }
  .blog__link {
    margin-top: 250px;
    margin-bottom: 200px;
  }
  .slick-dots li {
    margin-bottom: 50px;
  }
}

@media(max-width: 1240px) {
  .header__title {
    font-size: 120px;
    line-height: 140px;
    margin-top: 100px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .menu__list-link {
    font-size: 18px;
    line-height: 24px;
  }
  .title span {
    font-size: 32px;
    line-height: 44px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  .title span::after {
    height: 35px;
    width: 35px;
  }
  .about__text {
    max-width: 420px;
    margin-right: 75px;
  }
  .receive__clients {
    margin-right: 150px;
  }
  .receive__info {
    padding-bottom: 100px;
  }
  .conquer {
    margin-bottom: 100px;
    background-image: none;
  }
  .conquer__inner {
    margin: 0 auto;
  }
  .conguer__text {
    max-width: none;
  }
  .services__item+.services__item {
    margin-left: 25px;
  }
}

@media(max-width: 1024px) {
  .about__text {
    max-width: 350px;
    margin-right: 50px;
  }
  .receive__clients {
    margin-right: 100px;
  }
  .receive__info {
    padding-bottom: 50px;
  }
  .gallery__content {
    column-gap: 20px;
  }
  .gallery__item {
    margin-bottom: 20px;
  }
  .blockquote p {
    padding: 0 100px 20px 100px;
  }
  .team__inner {
    column-gap: 75px;
  }
  .contact {
    padding: 35px 40px 20px 25px;
  }
}

@media(max-width: 840px) {
  .header__content {
    min-height: 100vh;
  }
  .title,
  .header,
  .about,
  .conquer,
  .gallery__add,
  .blockquote,
  .gallery__video,
  .gallery__video-img,
  .gallery,
  .blog__wrapper,
  .team__inner,
  .services__item,
  .services,
  .map,
  .connection__inner,
  .social {
    margin-bottom: 50px;
  }
  .receive,
  .services__title {
    padding-top: 75px;
  }
  .header__title {
    font-size: 120px;
    line-height: 140px;
    margin-top: 183px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .menu__btn {
    display: flex;
  }
  ul.menu__list {
    display: none;
    padding-top: 0;
    text-align: center;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 45.64%, rgba(51, 51, 51, 0.222586) 89.35%, rgba(51, 51, 51, 0) 102.87%);
    padding-top: 60px;
    transform: scale(1.1);
    transition: all .3s;
    z-index: 0;
  }
  .header-active .menu__list {
    display: block;
  }
  .header-active .header__title {
    margin-top: 20px;
  }
  .logo,
  .menu__btn {
    z-index: 1;
  }
  .menu__list-item+.menu__list-item {
    margin-left: 0px;
  }
  .menu__list-link {
    display: block;
    margin: 0 auto;
    padding: 15px 0px;
    max-width: 200px;
  }
  .menu__list-link {
    font-size: 18px;
    line-height: 24px;
  }
  .about__inner {
    display: block;
  }
  .about__text {
    max-width: 100%;
    margin-right: 0;
  }
  .title {
    margin-bottom: 50px;
  }
  .receive__items {
    display: block;
  }
  .receive__item+.receive__item {
    margin-left: 0;
  }
  .receive__items .receive__item {
    display: block;
    margin: 0 auto 50px;
  }
  .receive__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .receive__clients {
    margin-bottom: 50px;
  }
  .receive__info-text {
    max-width: none;
    margin-bottom: 30px;
  }
  .gallery__btn {
    font-size: 18px;
  }
  .blockquote p {
    display: block;
    font-size: 28px;
    line-height: 36px;
    padding: 0 10px 20px;
  }
  .video__play {
    width: 50px;
  }
  .gallery__numbers {
    column-gap: 75px;
  }
  .gallery__numbers-item {
    font-size: 48px;
    line-height: 60px;
  }
  .blog__link {
    margin-top: 200px;
    margin-bottom: 150px;
    font-size: 36px;
    line-height: 48px;
  }
  .slick-dots li {
    margin-bottom: 50px;
  }
  .slick-dots button {
    width: 10px;
    height: 10px;
  }
  .slick-dots>li+li {
    margin-left: 10px;
  }
  .team__inner {
    column-gap: 50px;
  }
  .services__item-subtitle {
    padding: 20px 0 25px;
    font-size: 28px;
    line-height: 36px;
  }
  .services__item-list li {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .services__item-price p {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
  }
  .connection .container {
    padding: 0;
  }
  .connection__inner {
    flex-wrap: wrap;
  }
  .form {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 10px;
  }
  .form input {
    margin-right: 0;
  }
  .form textarea {
    margin-bottom: 50px;
  }
  .form button {
    margin: 0 auto;
    padding: 24px 70px;
    font-size: 18px;
  }
  .contact p {
    margin: 35px 0;
  }
  .contact {
    width: 100%;
    padding: 35px 40px 50px 25px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media(max-width: 720px) {
  .sercices__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services__item+.services__item {
    margin-left: 0;
  }
}

@media(max-width: 640px) {
  .title span {
    font-size: 32px;
    line-height: 44px;
    padding-right: 25px;
    padding-bottom: 5px;
  }
  .title span::after {
    height: 30px;
    width: 30px;
  }
  .about {
    margin-bottom: 75px;
  }
  .receive,
  .services__title {
    padding-top: 50px;
  }
  .conquer__inner {
    padding-top: 50px;
  }
  .gallery__item {
    margin: 0 auto 20px;
  }
  .gallery__add {
    padding: 20px 40px;
  }
  .gallery__numbers {
    column-gap: normal;
  }
  .gallery__numbers-item {
    margin-bottom: 25px;
    width: 50%;
    font-size: 42px;
    line-height: 56px;
  }
  .team__inner {
    flex-wrap: wrap;
    width: 100%;
  }
  .team__item {
    margin: 0 auto 25px;
  }
  .contact {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .social__link {
    font-size: 18px;
    padding: 10px 0;
  }
}

@media(max-width: 426px) {
  .header__title {
    font-size: 90px;
    line-height: 120px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .receive__info {
    padding-bottom: 50px;
  }
  .video__play {
    width: 25px;
  }
  .blog__link {
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 32px;
    line-height: 44px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media(max-width: 360px) {
  .gallery__btn {
    margin: 0 15px 0 0;
    font-size: 16px;
  }
  .gallery__filter {
    display: flex;
    margin-bottom: 30px;
  }
}